.container {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.photo {
  margin: 0;
  padding: 0;
  width: calc((100% - 144px) / 4);
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
